{% load staticfiles %}
{% load crispy_forms_tags %}

<h1>Hello</h1>


<form method="POST" action=''>{% csrf_token %}
{{ form|crispy }}

<input class="btn btn-primary" type='submit' value='Submit' />	

</form>