{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {% endblock %}

  {% block jumbotron %}
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-6">
        <h1>Interesting quotes there!</h1>
        <p>There you can see quotes from famous people!</p>
        <p>To see them just scroll!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Learn More! &raquo;</a>
        </p>
      </div>

      <div class="col-sm-6" style="height:300px;">
       <iframe width="530" height="320px" src="https://www.youtube.com/embed/MyMgR47IRPo" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
      </div>
    {% endblock %}  


{% block content %}

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Quote 1</h2>
          <p>Technology is just a tool. In terms of getting the kids working together and motivating them, the teacher is the most important.
          - Bill Gates
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Quote 2</h2>
          <p>The biggest risk is not taking any risk... In a world that changing really quickly, the only strategy that is guaranteed to fail is not taking risks. - Mark Zuckerberg </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Quote 3</h2>
          <p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations. - Steve Jobs</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



{% endblock %}